<form method='post' action= '{{ di_base_url }}/front/clientinjection.form.php'>
    <table class='tab_cadre_fixe'>
    <tr class='tab_bg_1'><th> {{ __("Injection's results", 'datainjection') }} </th></tr>

    <tr class='tab_bg_1'><td class='center'>
    {% if ok %}
        <img src='{{ di_base_url }}/pics/ok.png'>
        {{ __('Injection successful', 'datainjection') }}
    {% else %}
        <img src='{{ di_base_url }}/pics/danger.png'>
        {{ __('Injection encounters errors', 'datainjection') }}
    {% endif %}
    </td></tr>

    <tr class='tab_bg_1'><td class='center'>
    <a href='#' onClick="var w = window.open('{{ url|e }}' , 'glpipopup', 'height=400, width=1000, top=100, left=100, scrollbars=yes' );w.focus();" title= {{ __('See the log', 'datainjection') }}>
    <img src= '{{ di_base_url }}/pics/seereport.png'></a>

    {% if pdf_activated %}
        &nbsp;<a href='#' onclick=\"location.href='export.pdf.php?models_id={{ model['id'] }}'\" title= {{ __('Export rapport in PDF', 'datainjection') }}>
        <img src='{{ di_base_url }}/pics/reportpdf.png'></a>
    {% endif %}

    {% if error %}
        &nbsp;<a href='#' onclick=\"location.href='export.csv.php'\"title= {{ __('Export the log', 'datainjection') }}>
        <img src='{{ di_base_url }}/pics/failedcsv.png'></a>
    {% endif %}

    </td></tr>

    <tr class='tab_bg_1'><td class='center'>
    <input class='submit' type='submit' name='finish' value= {{ __('Finish', 'datainjection') }}>
    </td></tr>
    </table>
{% do call('Html::closeForm') %}